# Validation report

## classification_thresholds
```json
{
  "sai_base_hospital": {
    "q25": 0.0,
    "q75": 0.0082182411033862
  },
  "sai_divisional_hospital": {
    "q25": 0.0,
    "q75": 0.0081045248967573
  },
  "sai_estate_dispensary": {
    "q25": 0.0,
    "q75": 0.0425389221091944
  },
  "sai_phc": {
    "q25": 0.0035714285714285,
    "q75": 0.1070251758471909
  },
  "sai_teaching_hospital": {
    "q25": 0.0,
    "q75": 0.0020798154491164
  },
  "sai_Type3": {
    "q25": 0.0,
    "q75": 0.2
  },
  "sai_1C": {
    "q25": 0.0,
    "q75": 0.0
  },
  "sai_Type2": {
    "q25": 0.0,
    "q75": 0.0
  },
  "sai_1AB": {
    "q25": 0.0,
    "q75": 0.0
  }
}
```
